.button {
  border: none;
  outline: none;
}

.button:disabled {
  background-color: lightblue;
}

.button--primary {
  padding: 1.5rem;
  width: 12rem;
  border-radius: 10px;
  position: absolute;
  bottom: 2.3rem;
  right: 1.5rem;
  background-color: blue;
  color: white;
  text-align: center;
}

.button--secondary {
  padding: 1.5rem;
  width: 12rem;
}

.button--header {
  padding: 2.8rem;
  width: 12rem;
}

.button--header:hover {
  border-bottom: black solid 5px;
  background-color: #e0e0e0;
  color: grey;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button--secondary--active {
  border-bottom: 2px solid blue;
  color: blue;
}
