.logo {
  font-family: sans-serif;
  background: linear-gradient(to right bottom, green, blue, green, blue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
}

.logo--primary {
  text-align: center;
  font-size: 100px;
  font-weight: 900;
}

.logo--secondary {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 30px;
  font-weight: 600;
}
