.logo {
  font-family: sans-serif;
  background: linear-gradient(to right bottom, green, blue, green, blue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
}

.header__language {
  font-size: 2rem;
  position: absolute;
  right: 0;
}

.header__lang-box {
  /* height: 10vh; */
  /* width: 10rem; */
}

.header__lang {
  background-color: #f0f0f0;
  border-radius: 1rem;
  padding: 2rem 3rem;
  margin-bottom: 1rem;
}

.logo--primary {
  text-align: center;
  font-size: 100px;
  font-weight: 900;
}

.logo--secondary {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 30px;
  font-weight: 600;
}
