.search-card {
  position: relative;
  background-color: white;
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 15px;
}

.button-container {
  position: absolute;
  right: 3rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: green;
  padding: 2px;
}

.button-container button {
  margin-right: 1rem;
}
