.searchbar {
  font-size: 2rem;
  width: 75%;
  height: 15vh;
  padding: 0.3rem;
  position: relative;
  display: block;
  border: none;
  outline: none;
  padding: 20px 10px;
  padding-left: 15px;
  transition: all 0.15s;
}

.searchbox {
  border-radius: 0.8rem;
  border: 2px solid black;
  position: relative;
  width: 65rem;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 25%;
  left: 50%;
  overflow: hidden;
}

.searchbar__header {
  position: relative;
}

.searchbar__header__left {
  float: left;
  width: 75%;
}

.searchbar__header__right {
  float: right;
  width: 25%;
  text-align: right;
}

.searchbar__header--invisible {
  /* display: none; */
}

.searchbar__input {
  border-radius: 3rem;
}

/* .searchbar--primary {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
} */

/* .searchbar--secondary {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-bottom: solid 1px black;
  border-radius: 0;
} */
