.result {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  width: 65rem;
  left: 50%;
  transform: translateX(-50%);
  /* border: 2px solid black; */
  box-shadow: 0 0 5px black;
  border-radius: 0.8rem;
  overflow: hidden;
}

.result__word {
  float: left;
}

.result__card {
  background-color: #f0f0f0;
  width: 44%;
  /* height: 70vh; */
}

.result__body {
  padding: 1rem;
}

.result__header {
  margin-bottom: 3rem;
}

.result__translation {
  float: right;
}

.heading--primary {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.heading--secondary {
  margin-bottom: 1.2rem;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 300;
  text-align: center;
}

.result__pronunciation {
  font-weight: 100;
}

.result__definition {
  margin-top: 1rem;
  font-weight: 600;
}

.result__arrow {
  text-align: center;
  font-size: 3rem;
  background-color: gray;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result__arrow span {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result p {
  font-size: 1.2;
  margin-bottom: 1.5rem;
}
