.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  width: 40rem;
  height: 70vh;
  padding: 4rem;
  font-size: 1.6rem;
  border-radius: 40px;
}

.login__input {
  width: 100%;
  margin-bottom: 5rem;
  height: 4rem;
  display: block;
  outline: none;
  font-size: 1.3rem;
  padding: 0 3rem;
  outline: none;
  border: none;
}

.login__input:focus {
  border-bottom: 1px green solid;
}

.login label {
  position: absolute;
  transform: translate(30px, 40%);
  opacity: 0;
  transition: all 0.2s;
}

.label--focused {
  transform: translate(30px, 50px) !important;
  opacity: 1 !important;
}

.button--login {
  width: 15rem;
  margin-left: 100px;
  padding: 15px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
}
